.container{
    background-color: white;
    position: relative;
}
body{
    font-style: normal;
    font-family: 'Times New Roman';
    
}
nav{
    margin: 0 auto;
    padding:0.1% 0 ;
    background-color: gainsboro;
}
nav>ul{
    text-align: justify;
}
ul>li{
    display: inline;
}
ul>li>a{
    text-decoration: none;
    justify-content: space-between;
    color: black;
    font-weight: bold;
    text-align: center;
}

em{
    color:#EAAB1B;
    font-style: normal;
}

span{
    color:#6CB840; 
}
img{
    float: left;
}
#menu>h3{
    padding-left: 300px;
}
#deals>h3{
    padding-left: 400px;
}
#deals>h2{
    padding-left: 300px;
}
#contacts>h3{
    padding-left: 300px;
}
#contacts>p{
    text-align: center;
}
h5{
    border: 1px solid white;
    width:250px ;
    border-radius: 10px;
    background-color: white;
    position: relative;
    left:200px;

}
h6{
    border: 1px solid #6CB840;
    width:70px ;
    border-radius: 20px;
    background-color: #6CB840;
    position: relative;
    left: 250px;
    color: white;
}
#deals{
    background-color: #C9ECB5;

}
#menu{
    background-color: lightgrey;
    
}
#contacts{
    background-color:lightpink;
}
.container{
    background-color: gainsboro;
}