
body{
    font-style: normal;
    font-family: 'Times New Roman';
    
}
.container{
    background-color: gainsboro;
    height: 450px;
}
.size{
    padding-right: 50px;
    padding-left: 50px;
}
#navbar{
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    
}
#navbar a{
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 50px 45px;
}
.eclipse{
    background-color: #649549;
    position: absolute;
  width: 69vw;
  height:80vw;
  top: -50em;
  right: 1em;
  left: 30em;
  border-radius: 600px;
}
.pepper{
    position: absolute;
    top: 370px;
    right: 460px;
}
.semi{
    position:absolute;
    border-color: #6CB840;
    border-style: dotted;
    right:200px ;
    top:200px;
    width: 600px;
    height: 500px;
    border-radius:100%;
   border-bottom: 0;
   border-left: 0;
   border-right: 0;
}
#one{
    position: absolute;
    top: 100px;
}
#two{
    position: absolute;
    top: 5px;
    right: 400px;
}
#three{
    position: absolute;
    top: -2em;
    right:270px ;
}
#four{
    position: absolute;
    right: 100px;
}
#five{
    position: absolute;
    right: 1px;
    top:100px ;
}
.place{
    margin-right: 40px;
    margin-left: 40px;
    padding-right: 80px;
    display: flex;
}
em{
    color:#EAAB1B;
    font-style: normal;
}

span{
    color:#6CB840; 
}
#menu>h3{
    text-align: center;
}
#deals>h3{
    text-align: center;
}
#deals>h2{
    text-align: center;
}

#class{
background-color: green;
color: white;
border-radius: 10px;
width: 70px;
}
#deals{
    background-color: #C9ECB5;
    margin-left: 0px;
           margin-right: 0px;
           padding-right: 0px;
           padding-left: 0px;
           height: 500px;
}
#deals>p{
    text-align: center;
}

#meat{
    position: relative;
    left: -330px;
    bottom: 290px;
}
#fruit{
    position: relative;
    bottom: 340px;
}


#contacts{
    background-color:#FFD77C;
   height: 300px;
   margin-top: 0px;
   text-align: center;
}
.footer{
    background-color:#C9ECB5 ;
}
h4{ 
    color: white;
    background-color:#6CB840 ;
    width: 100px;
    border: 1px solid #6CB840;
    border-radius: 80px;
}
.place>img{
    float: left;
}
#eat{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content:center;
        text-align: center;
        position: relative;
        
}
.explore{
    background-color: lightgray;
    text-align: center;
}
     .box{
         align-items: center;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
    }
    #burger{
        padding: 15px;
        margin: 40px;
        height: 100px;
        width: 300px;
        background-color: white;
        position: relative;
        border-radius: 0 0 50px 0;
    }
    #burger>img{
        position: absolute;
        height: 150px;
        width: 200px;
        bottom: -50px;
        left: -70px;
    }
    #burger>p{
        text-align: right;
        margin-top: 0px;
    }
    #burger>.meal{
        text-align: left;
        font-weight: bold;
    }
    .footer{
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        margin-top: 40px;
    }
#working{
    display: flex;
    flex: 4px;
    padding-top:50px ;
    padding-left: 20px;
}
#physical{
    display: flex;
    flex: 10px;
    padding-left: 300px;
    padding-top: 70px;
    
}
#follow{
    display: flex;
    flex: 1px;
    padding-left: 500px;
    padding-top: 60px;
}
#end{
 flex: 2px;
 padding: 60px;
 margin-top: 60px;
 margin-bottom: 60px;
}
.send{
    background-color: green;
    color: white;
    border-radius: 15px;
    text-align: right;
}
#mail{
    border-radius: 10px;
}





