.container{
    background-color: white;
    position: relative;
}
body{
    font-style: normal;
    font-family: 'Times New Roman';
    
}
nav{
    margin: 0 auto;
    padding:0.1% 0 ;
}
nav>ul{
    text-align: justify;
}
ul>li{
    display: inline;
}
ul>li>a{
    text-decoration: none;
    justify-content: space-between;
    color: black;
    font-weight: bold;
    text-align: center;
}

em{
    color:#EAAB1B;
    font-style: normal;
}

span{
    color:#6CB840; 
}
img{
    float: left;
}
#menu>h3{
    padding-left: 300px;
}
#deals>h3{
    padding-left: 400px;
}
#deals>h2{
    padding-left: 300px;
}
#contacts>h3{
    padding-left: 300px;
}