.container{
    background-color: white;
    position: relative;
}
body{
    font-style: normal;
    font-family: 'Times New Roman';
}
nav{
    margin: 0 auto;
    padding:0.1% 0 ;
}
nav>ul{
    text-align: justify;
}
ul>li{
    display: inline;
}
ul>li>a{
    text-decoration: none;
    justify-content: space-between;
    color: black;
    font-weight: bold;
    text-align: center;
}