.container{
    background-color: white;
    position: relative;
}
body{
    font-style: normal;
    font-family: 'Times New Roman';
    
}
nav{
    margin: 0 auto;
    padding:0.1% 0 ;
    background-color: gainsboro;
};

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
li{
    float: left;
}
li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
em{
    color:#EAAB1B;
    font-style: normal;
}

span{
    color:#6CB840; 
}
#menu>h3{
    padding-left: 300px;
    text-align: center;
}
#deals>h3{
    padding-left: 400px;
}
#deals>h2{
    padding-left: 300px;
}
#contacts>h3{
    padding-left: 300px;
}
#contacts>p{
    text-align: center;
}

    

#deals{
    background-color: #C9ECB5;
    margin-left: 0px;
           margin-right: 0px;
           padding-right: 0px;
           padding-left: 0px;
           width: 1500px;
           height: 700px;

}
#menu{
    background-color: lightgrey;
    
}
#contacts{
    background-color:#FFD77C;
   margin: 0px;
   padding: 0px;
   height: 300px;
}
.container{
    background-color: gainsboro;
}
.footer{
    background-color:#C9ECB5 ;
}
h4{ 
    color: white;
    background-color:#6CB840 ;
    width: 100px;
    border: 1px solid #6CB840;
    border-radius: 80px;
}
.place>img{
    float: left;
}
#deals>img{
    float: left;
}
.navb{
    justify-content: space-between;
}
#eat{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content:center;
        text-align: center;
        position: relative;
        
      }
      .box{
          padding: 1px;
          margin: 2px;
          border: 1px solid white;
       background-color: lightgrey;
    }
    .footer{
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        margin-top: 40px;
    }
#working{
    display: flex;
    flex: 4px;
    padding-top:50px ;
    padding-left: 20px;
}
#physical{
    display: flex;
    flex: 10px;
    padding-left: 300px;
    padding-top: 70px;
    
}
#follow{
    display: flex;
    flex: 1px;
    padding-left: 500px;
    padding-top: 60px;
}
#end{
 flex: 2px;
 padding: 60px;
 margin-top: 60px;
 margin-bottom: 60px;
}
.send{
    background-color: green;
    color: white;
}





